.textToType {
    font-size: 1.5625rem;
}

.untyped {
    color: #80808c;
}

.correct {
    color: var(--accent-color);
}

.incorrectLetter {
    color: var(--error-color);
}

.incorrectSpace {
    background-color: var(--error-color);
}