.statsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.graphContainer {
	width: 50vw;
	height: 42vh;
}

.statsInfo {
	margin-left: 2rem;
	font-size: 1.25rem;
}

.statsTitle {
	text-align: center;
}

.stat {
	line-height: 0.5;
}