.backButton {
    position: absolute;
    top: 5vh;
    left: 7vw;
    font-size: 1.25rem;
    text-decoration: none;
    color: #80808c;
    outline: none;
}

.backButton:hover {
    color: lightgray;
}