.dropdownMenu {
    width: fit-content;
    z-index: 1;
}

.menuItem {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    background-color: #23262e;
    color: var(--foreground-color);
}

.menuItem:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.menuItem:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.menuItem:hover {
    background-color: #373b47;
}

.menuItemIcon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}