.addTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#text,
#source {
    width: 40vw;
    font-size: 1.25rem;
    border: 1.5px solid gray;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
}

#text {
    height: 30vh;
    padding: 2rem 2.5rem;
    line-height: 1.25;
}

#source {
    height: 5vh;
    margin-top: 2vh;
    padding: 0.75rem 2.5rem;
}

#text::placeholder,
#source::placeholder {
    font-size: 1rem;
}

#addButton {
    margin-top: 8vh;
}

#addButton:hover {
    background-color: white;
}