:root {
	--foreground-color: #ebebeb;
	--background-color: #16161d;
	--accent-color: #5ecca7;
	--error-color: #f21861;
}

body {
	color: var(--foreground-color);
	background: var(--background-color);
}

h1,
h2 {
	font-size: 2.5rem;
}

button,
input,
textarea {
	font-family: inherit;
}

input,
textarea {
	font-size: 1rem;
	color: var(--foreground-color);
}

button {
	font-size: 1.25rem;
	background-color: var(--foreground-color);
	padding: 1rem 1.25rem;
	width: fit-content;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: white;
}